/* Universal Styles */

a {
  text-decoration: none;
  list-style-type: none;
  color: black;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.image-container {
  overflow: hidden;
}


/* header */

header .container {
  display: flex;
  align-items: center;
  position: fixed;
  background-color: white;
  width: 100%;
  height: 4rem;
  z-index: 1;
}

.container .logo {
  display: flex;
  align-items: center;
}

header .black {
  color: black;
  font-weight: bold;
}

header .gray {
  color: gray;
}

.desktop li {
  display: inline-flex;
  padding-left: 1rem;
}

nav {
  text-align: right;
  flex-grow: 1;
  padding-right: 1.5rem;
}

header .image-container img {
  height: 2rem;
  padding-left: 1.5rem;
}

.mobile {
  display: none;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 480px;
}

.desktop {
  display: none;
}

nav {
  display: block;
  text-align: center;
  flex-grow: 1;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.mobile {
  display: list-item;
  list-style-type: none;
}

.mobile li {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}

.mobile img {
  height: 2rem;
}

.logo span, .logo img {
  display: none;
  }
}


 /* learn section */

.learning {
  display: flex;
  background-color: #dcdcdc;
  background-size: cover;
  align-items: center;
}

 .container .left-side {
   display: flex;
   width: 60%;
   align-items: center;
   padding-top: 64px;
   margin: 0;
   flex-wrap: nowrap;
}

 .content-learn h1 {
   text-align: left;
   color: black;
   font-weight: bold;
 }

 .left-side .image-container {
   display: block;
   float: left;
 }

 .left-side img {
   width: 100%;
   height: auto;
   float: left;
   padding: 2rem 1.5rem;
   object-fit: contain;
 }

 .container .right-side {
   display: block;
   align-items: center;
   width: 40%;
   vertical-align: center;
}

.content-learn {
  color: black;
  float: left;
  padding-left: 1.5rem;
  align-items: center;
}

  .space {
   padding-bottom: .75rem;
   padding-top: .75rem;
 }

 .button {
   display: flex;
   justify-content: center;
   padding-top: .5rem;
   padding-bottom: .5rem;
   background-color: black;
   color: white;
   border: 1px;
   width: 18rem;
   align-items: center;
   margin-top: 1.5rem;
 }

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .learning {
    display: block;
    max-width: 480px;
    clear: both;
    justify-content: center;
}

  .container .left-side, .container .right-side {
    display: block;
    max-width: 480px;
    object-fit: cover;
  }

  .left-side img {
    padding: 2rem 1rem;
  }

  .space {
    padding-bottom: 1.5rem;
    padding-top: 2rem;
  }

  .content-learn {
    padding-left: 1rem;
    padding-right: 1rem;
    }

  .button {
    max-width: 16rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 2rem;
  }

}


 /* practicing section */

 .side {
   display: flex;
   align-items: center;
   margin: 0;
 }

 .left .container {
   display: flex;
   padding: 2rem 1.5rem;
   width: 60%;
 }

 .left .image-container{
   align-items: center;
   flex-wrap: nowrap;
   margin: 0;
 }

 .left img {
   display: block;
   max-width: 100%;
   height: auto;
   object-fit: contain;
 }

 .left h1 {
   padding-bottom: 1.5rem;
 }

 .left h5 {
   padding-bottom: 2rem;
 }

 .right, .right-a, .right-b {
   display: flex;
   flex-direction: row;
 }

 .right-b {
   background-color: #dcdcdc;
   border-left: solid 1px #dcdcdc;
 }

 .right {
   border-bottom: solid 1px #dcdcdc;
   border-left: solid 1px #dcdcdc;
 }

 .right-a {
   border-top: solid 1px #dcdcdc;
   border-left: solid 1px #dcdcdc;
 }

 .right .container, .right-a .container, .right-b .container {
   width: 40%;
   display: flex;
   align-items: center;
   height: auto;
 }

 .image-container .right, .image-container .right-a, .image-container .right-b {
   width: 35%;
   height: auto;
 }

 .right img, .right-a img, .right-b img {
   display: block;
   width: 100%;
   height: auto;
   padding: 1rem;
   object-fit: contain;
 }

 .items {
   display: inline-block;
   width: 65%;
 }

 .keynote {
   padding-bottom: .5rem;
 }

 .guest {
   padding-bottom: .5rem;
 }

@media only screen and (min-width: 320px) and (max-width: 480px) {
    .left .container, .left .image-container, .left img, .left h1, .left h5, .left p {
      display: none;
    }

    .side, .items, .right, .right-a, .right-b, .right .container, .right-a .container, .right-b .container {
      max-width: 480px;
      display: block;
    }

    .image-container .right, .image-container .right-a, .image-container .right-b {
      max-width: 480px;
      justify-content: center;
    }

    .right img, .right-a img, .right-b img {
      max-width: 480px;
      object-fit: cover;
    }

    .right, .right-a {
      padding-top: 1rem;
      padding-left: 1rem;
      padding-right: 1rem;
      padding-bottom: 4rem;
    }

    .right-b {
      padding-left: 1rem;
      padding-right: 1rem;
      padding-top: 1rem;
      padding-bottom: 2rem;
    }

    .items {
      padding-left: 1rem;
    }

}


/* start learning section */

.start-now {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.start .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0;
  background-color: #dcdcdc;
  background-size: cover;
  padding-left: 3.5rem;
  padding-right: 3.5rem;
}

.starter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.starter h1 {
  font-weight: bold;
}

.start-learning .container {
  display: flex;
  flex-wrap: wrap;
}

.boxes {
  display: block;
  background-color: white;
  margin-bottom: 2rem;
  margin-left: 2rem;
  width: 23rem;
}

.boxes img {
  display: block;
  height: auto;
  width: 23rem;
}

.boxes h2, .boxes h3, .boxes p {
  color: black;
  text-align: left;
  padding-left: 1rem;
}

.boxes .title {
  font-weight: bold;
  padding-top: 1rem;
}

.boxes .courses  {
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.boxes .explain {
  padding-bottom: 1.5rem;
}


/* thesis exhibit section */

.exhibit {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.thesises .container {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.thesis {
  display: flex;
  justify-content: center;
  align-items: center;
}

.thesis h1 {
  font-weight: bold;
  text-align: center;
}

.overall .container {
  display: inline-block;
  align-items: center;
  flex-wrap: wrap;
}

.container .side-a {
  display: block;
  width: 60%;
  margin: 0;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.image-container .video {
  display: block;
  width: 60%;
  height: auto;
  padding-bottom: 1.5rem;
  float: left;
  object-fit: scale-down;
}

.content-video {
  text-align: left;
  color: black;
}

.content-video h2 {
  padding-bottom: .5rem;
}

.content-video p {
  padding-bottom: 2rem;
}

.side-b {
  display: flex;
}

.container .side-b {
  display: block;
  width: 40%;
}

.image-container .side-b {
  display: block;
  width: 35%;
}

.side-b img {
  height: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
}

.design {
  display: inline-flex;
  background-color: #dcdcdc;
}

.design-a {
  display: inline-flex;
}

.content-fisma {
  display: block;
  align-self: center;
  width: 65%;
  padding-left: 1rem;
}



/* footer */

.footer {
  display: flex;
  padding-left: 1.5rem;
  padding-top: 1rem;
  border-top: solid .1rem #dcdcdc;
  width: 100%;
  font-size: 12px;
}

.footer nav li {
  display: inline-block;
  padding-top: 1rem;
  list-style-type: none;
  text-decoration: none;
  font-size: 12px;
  padding-left: 1.5rem;
  text-align: right;
}
