/* Universal Styles */

a {
  text-decoration: none;
  list-style-type: none;
  color: black;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.image-container {
  overflow: hidden;
}

.image-container img {
  display: block;
  max-width: 100%;
}

/* header */

header .flex-container {
  display: flex;
  align-items: center;
  position: fixed;
  background-color: white;
  width: 100%;
  height: 4rem;
  z-index: 1;
}

.flex-container .logo {
  display: flex;
  align-items: center;
}

header .black {
  color: black;
  font-weight: bold;
}

header .gray {
  color: gray;
}

.desktop li {
  display: inline-flex;
  padding-left: 1rem;
}

nav {
  text-align: right;
  flex-grow: 1;
  padding-right: 1.5rem;
}

header img {
  height: 2rem;
  padding-left: 1.5rem;
}

.mobile {
  display: none;
}



 /* learn section */

.flex-container .learn {
  display: flex;
  align-items: center;
  padding-top: 64px;
  background-color: #dcdcdc;
  background-size: cover;
  flex-wrap: nowrap;
  width: 100%;
}

.learn .image-container {
  width: 60%;
  height: auto;
  padding: 2rem 1.5rem;
  float: left;
}

#content-learn {
  display: inline;
  align-items: center;
  color: #696969;
  line-height: .60;
}

.button {
  display: flex;
  justify-content: center;
  padding-top: .5rem;
  padding-bottom: .5rem;
  background-color: #696969;
  color: white;
  border: 1px;
  width: 18rem;
  align-items: center;
  margin-top: 1.5rem;
}

/* practicing section */

#practices .flex-container {
  display: block;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
}

#practices .practicing, #practices .hurting {
  display: flex;
  width: 100%;
  align-items: center;
  flex-wrap: nowrap;
}

.image-container .practicing {
  width: 60%;
  height: auto;
  padding: 2rem 1.5rem;
  float: left;
}

#content-practicing {
  align-items: center;
  color: #696969;
  line-height: .60;
}

#practices .hurting  {
  display: block;
  width: 100%;
}

.image-container .hurting {
  display: flex;
  width: 35%;
  height: auto;
  padding: 1rem;
  float: left;
}

.item {
  display: inline-flex;
}

.items .hurting {
  align-items: center;
  width: 65%;
  height: auto;
  padding-left: 1rem;
  flex-wrap: nowrap;
}


/* start learning section */

#start .flex-container {
  display: block;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: #dcdcdc;
  background-size: cover;
}

#start, #start-learning {
  margin-top: 2rem;
  text-align: center;
  justify-content: center;
  align-self: center;
  padding-bottom: 1rem;
}

.boxes {
  display: block;
  margin-left: 3.5rem;
  margin-right: 3.5rem;
  padding: 1rem;
}

.boxes span, .boxes p {
  padding-top: 1rem;
  padding-left: 1rem;
  text-align: left;
  background-color: white;
  color: black;
  text-align: left;
}

.boxes span h1 {
  font-weight: bold;
}

.boxes span h2 {
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.boxes img {
  height: auto;
  display: block;
  padding
}
