/* Universal Styles */

a {
  text-decoration: none;
  list-style-type: none;
  color: black;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.image-container {
  overflow: hidden;
}

.image-container img {
  display: block;
  max-width: 100%;
}

/* header */

header .flex-container {
  display: flex;
  align-items: center;
  position: fixed;
  background-color: white;
  width: 100%;
  height: 4rem;
  z-index: 1;
}

.flex-container .logo {
  display: flex;
  align-items: center;
}

header .black {
  color: black;
  font-weight: bold;
}

header .gray {
  color: gray;
}

.desktop li {
  display: inline-flex;
  padding-left: 1rem;
}

nav {
  text-align: right;
  flex-grow: 1;
  padding-right: 1.5rem;
}

header img {
  height: 2rem;
  padding-left: 1.5rem;
}

.mobile {
  display: none;
}



 /* learn section */

.flex-container .learn {
  display: flex;
  align-items: center;
  padding-top: 64px;
  background-color: #dcdcdc;
  background-size: cover;
  flex-wrap: nowrap;
  width: 100%;
}

#content-learn h1 {
  text-align: left;
  color: black;
  font-weight: bold;

}

.learn .image-container {
  width: 60%;
  height: auto;
  padding: 2rem 1.5rem;
  float: left;
}

#content-learn {
  display: inline;
  align-items: center;
  color: #696969;
}

.space {
  padding-bottom: .75rem;
}

.spaces {
  padding-top: .75rem;
}

.button {
  display: flex;
  justify-content: center;
  padding-top: .5rem;
  padding-bottom: .5rem;
  background-color: #696969;
  color: white;
  border: 1px;
  width: 18rem;
  align-items: center;
  margin-top: 1.5rem;
}

/* practicing section */
#practices .practicing, #practices .hurting {
  display: flex;
  align-items: center;

}

#strong.image-container {
  padding: 2rem 1.5rem;
  float: left;
}

#strong .image-container img {
  height: auto;
  width: 60%;
}

#content-practicing {
  text-align: left;
  color: black;
  padding-left: 1.5rem;
}

#greek {
  padding-bottom: 2rem;
}


#practices .hurting {
  display: block;
  padding-bottom: 2rem;
  border-left: solid 1px #dcdcdc;
}

.color {
  background-color: #dcdcdc;
}

.item .image-container {
  display: flex;
  float: left;
}

.item.image-container img {
  width: 35%;
  height: auto;
  padding: 1rem;
}

.item: {
  display: inline-flex;
  padding: 1rem;
}

.items {
  display: block;
  align-items: center;
  text-align: left;
  width: 65%;
  height: auto;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  flex-wrap: nowrap;
  border-top: solid 1px #dcdcdc;
  border-bottom: solid 1px #dcdcdc;
  border-right: solid 1px #dcdcdc;
}

.items h2 {
  font-weight: bold;
}



/* start learning section */

#start {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 2rem 4.5rem;
  background-color: #dcdcdc;
  background-size: cover;
}

.start-now {
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.boxes {
  display: inline-block;
  flex-direction: column;
}

.boxes span {
  display: block;
  background-color: white;
  color: black;
  text-align: left;
  padding-left: 1rem;
}

.boxes img, span {
  width: 33%;
}

.boxes img  {
  display: block;
  height: auto;
}

.title {
  font-weight: bold;
  padding-top: 1rem;
}

.courses {
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.explain {
  padding-bottom: 1.5rem;
}






/* thesis exhibit section */

.exhibit {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.exhibit h1 {
  font-weight: bold;
}

#thesises .flex-container {
  display: block;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  margin: 0 auto;
  padding-top: 2rem;
  padding-left: 1.5rem;
  padding-bottom: 2rem;
}

#thesises .thesis {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.thesis h1 {
  font-weight: bold;
  text-align: center;
}

.video-container .video {
  display: block;
  width: 60%;
  height: auto;
  padding-bottom: 1.5rem;
  float: left;
}

.content-video {
  text-align: left;
  color: black;
  line-height: .60;
}
#thesises .flex-container {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  margin: 0 auto;
}

.content .flex-container {
  display: flex;
  width: 100%;
  align-items: center;
}

.contents-fisma .fisma {
  align-items: center;
  width: 65%;
  height: auto;
  padding-left: 1rem;
  flex-wrap: nowrap;
}

.reimagine .flex-container {
  display: inline-block;
  float: left;
  width: 40%;
}




/* footer */

.footer {
  display: flex;
  padding-left: 1.5rem;
  padding-top: 1rem;
  border-top: solid .1rem #dcdcdc;
  width: 100%;
  font-size: 12px;
}

.footer-nav li {
  display: inline-block;
  list-style-type: none;
  text-decoration: none;
  font-size: 12px;
  padding-left: 1.5rem;
}
